<%- include("partials/header.ejs") %> 

<div class="task-container">
    <div class="to-do-card">
      <div class="date-task-card">
        <div class="date-card">
          <span class="day"><%= new Date().getDate() %></span>
          <div class="month-year">
            <span class="month">
                <% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]; %>
                <% let month = months[new Date().getMonth()]; %>
                <%= month %>
            </span>            
            <span><%= new Date().getFullYear() %></span>
          </div>
        </div>
        <span class="month">
            <% const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
            <% let day = days[new Date().getDay()]; %>
            <%= day %>
        </span>
        <!-- New element -->
      </div>

      <% if (locals.workList) { %>
        <!-- Content to display when taskList exists -->
        <% for(let index = 0; index < workList.length; index++) { %>
            <div class="task-card">
                <input type="checkbox" class="task-checkbox" />
                <label class="task-checkbox-label">       
                    <%= workList[index].task %>
                </label> 
            </div>
        <% } %>
    <% } %>      

      <form action="/workSubmit" method="POST">
        <input
          type="text"
          name="task"
          class="input"
          placeholder="add task...."
        />
        <input type="submit" class="add" value="+"></input>
      </form>
    </div>
  </div>

<%- include("partials/footer.ejs") %>
